@import "tailwindcss";

/* ===========================
   GLOBAL
=========================== */

html,
body,
#root{
    width:100%;
    min-height:100%;
    margin:0;
    padding:0;
}

html{
    overflow-x:hidden;
}

body{
    overflow-x:hidden;
    font-family:Inter,sans-serif;
}

*{
    box-sizing:border-box;
}

img,
svg,
video,
canvas{
    max-width:100%;
    height:auto;
}

table{
    width:100%;
    border-collapse:collapse;
}


/* ===========================
   PRINT
=========================== */

@media print {

  @page {
    size: A4 landscape;
    margin: 5mm;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  #printable-invoice {
    width: 287mm;
    height: 200mm;
  }

  .invoice-half {
    width:50%;
  }

}